.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    background-color: black;
  }
  
  .threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .hero-content {
    text-align: center;
    z-index: 1;
  }
  
  .profile-img {
    width: 215px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .social-icon {
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
    color: #00ff00;
  }
  